<html>
  <head>
    <title>{% block title %}Default title{% end %}</title>
  </head>
  <body>
    <table border="2">
      <tr>
        <th> {{ name1 }} </th>
      {% for player in players1 %}
        {% for name in player %}
        <tr><td> {{ name }} </td></tr>
        {% end %}
      {% end %}
      </tr>
      <tr>
      <th> {{ name2 }} </th>
      {% for player in players2 %}
        {% for name in player %}
        <tr><td> {{ name }} </td></tr>
        {% end %}
      {% end %}
      </tr>
    </table>
  </body>
</html>